@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  font-size: 14px;
  font-family: arial, 'Roboto', sans-serif;
  color: #222;
}
